/* Reset some default styles */


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #0c1323; 
}

/* Container class for the whole page */
.container {
  max-width: 100%;
  margin: 0 auto;
  background-color: transparent ; /* White background for the content area */
}

/* Navbar styling */
.navbar {
  background-color: transparent; /* Teal background */
  color: #fff;
  position: fixed;  
  top: 0;
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media screen  and (max-width: 1150px){
  .navbar{
    padding-top: 0.5rem !important;
  }
}


.navbar ul li button:hover {
  background-color: transparent; /* Darker teal background on hover */
  border: none; /* Border turns darker teal on hover */
  color: #00d492; /* Text color remains white on hover */
}

.navbar .active {
   color: #00d492; 
}

/* Section styling */
.section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
  background-color: transparent; /* Light gray background for each section */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  margin-bottom: 40px; /* Spacing between sections */
}

/* h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: #00796b;
  text-align: center;
  font-weight: bold;
} */

/* p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #333; 
} */


a {
  color: #009688; /* Teal link color */
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #004d40; /* Darker teal on hover */
}